<launch>
  <arg name="dataset" default="uHumans2" />
  <arg name="run_mode" default="0" /> 
  <arg name="use_msg_time" default="true" />
  <arg name="output_path" default="$(find kimera_pgmo)/log" />
  <arg name="log" default="true" />
  <arg name="num_robots" value="2" />

  <node launch-prefix="xterm -e gdb --args" type="kimera_pgmo_multi_node" name="kimera_pgmo_multi_node" pkg="kimera_pgmo" output="screen" >
    <rosparam file="$(find kimera_pgmo)/params/$(arg dataset)/parameters.yaml" />
    <param name="output_prefix" value="$(arg output_path)" />
    <param name="run_mode" value="$(arg run_mode)" />
    <param name="use_msg_time" value="$(arg use_msg_time)" />
    <param name="log_output" value="$(arg log)" />
    <param name="num_robots" value="$(arg num_robots)" />
  </node>

  <include file="$(find pose_graph_tools)/launch/posegraph_view.launch" >
    <arg name="frame_id"      value="world" />
    <arg name="graph_topic"   value="pose_graph" />
    <arg name="ns"            value="kimera_pgmo_multi_node"/>
  </include>

</launch>