<launch>
  <arg name="launch_voxblox" default="true" />

  <include file="$(find mesher_mapper)/launch/generate_mesh.launch" pass_all_args="true"/>

  <node type="mesher_mapper_node" name="mesher_mapper_node" pkg="mesher_mapper" output="screen" >
    <rosparam file="$(find mesher_mapper)/params/parameters.yaml" />

    <param name="output_ply_file" value="/home/yunchang/Downloads/optimized.ply" />

    <remap from="~input_mesh" to="/converted_mesh" />
    <remap from="~trajectory" to="/kimera_vio_ros/optimized_trajectory" />
  </node>

</launch>