<launch>
  <arg name="test_mesh_file" value="$(find mesher_mapper)/test/data/sphere.ply" />

  <!-- Launch robot handler nodes -->
  <node type="load_mesh" name="load_mesh" pkg="mesher_mapper" args="$(arg test_mesh_file)" output="screen" />

  <node type="mesher_mapper_node" name="mesher_mapper_node" pkg="mesher_mapper" output="screen" >
    <rosparam file="$(find mesher_mapper)/params/parameters.yaml" />

    <remap from="~input_mesh" to="/mesh" />
  </node>

</launch>