<launch>
  <!-- <arg name="test_mesh_file" value="/home/yunchang/Desktop/dcist2.ply" /> -->

  <!-- Launch robot handler nodes -->
  <!-- <node type="load_mesh" name="load_mesh" pkg="mesher_mapper" args="$(arg test_mesh_file)" output="screen" /> -->

  <include file="$(find mesher_mapper)/launch/generate_mesh.launch"/>

  <node type="mesher_mapper_node" name="mesher_mapper_node" pkg="mesher_mapper" output="screen" >
    <rosparam file="$(find mesher_mapper)/params/parameters.yaml" />

    <remap from="~input_mesh" to="/converted_mesh" />
  </node>

</launch>